.feature-container {
    background-image: url("https://iili.io/3sd9y57.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: fixed;
    overflow-y: auto;
}
.feature-wrapper {
    width: 100%;
    height: 100%;
}
.feature-content-container {
    width: 100%;
    height: 100%;
}
.feature-content-container {
    width: 100%;
    height: 100%;
    padding-top: 100px;
}
.feature-content-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.all-features-ult-wrapper {
    height: 100%;
}
.feature-card-box {
    background: #151515;
    display: flex;
    text-align: left;
    gap: 10px;
    border-radius: 10px;
}
.feature-mos-card-wrapper {
    padding: 10px;
}
.feature-card-box-wrapper {
    padding: 14px;
}
.feature-subheader {
    font-size: 18px;
}
.feature-header {
    font-size: 60px;
}
.feature-list-header {
    font-size: 16px;
    font-weight: 600;
}
.feature-list-item-text {
    color: #b8b4b4;
}